/*


HEADER STYLING


*/

.header {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    border-bottom:2px solid #2F4CDD;
    background: #F5F5F5;
    margin-bottom:0; 
    h1 {
        font-family:'Arial Narrow', Arial, Helvetica, sans-serif;
        font-size:48px; 
        font-weight:bold; 
    }
}
.header-options {
    width:30%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    button {
        margin:0 10px;
    }
}
/*


INDEX PAGE STYLING


*/
.container {
    position: absolute;
    min-width:100%;
    min-height:100%; 
    padding:0 !important;
    margin:0 !important; 
    background: gray;
}
.body-container {
    margin:5% 10%;
    border:2px solid #FF9500; 
    background:#F5F5F5;
    border-radius:15px;
    padding:2.5% 5%; 
}
.user-options {
    display:flex;
    flex-direction:row; 
    justify-content: space-between;
    width:50%; 
    margin:0 0 2.5%; 
    a {
        color:#2F4CDD; 
        font-family:Verdana,Arial, Helvetica, sans-serif; 
    }
}
/*



GOAL CREATE FORM STLING



*/
.create-form {
    width:500px;
    margin:2.5% auto; 
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    border:2px solid #FF9500; 
    background:#F5F5F5;
    padding:2.5% 5% 0; 
    border-radius:5px; 
    h3 {
        text-align: center;
        font-family:Verdana,Arial, Helvetica, sans-serif; 
    }

}
button.submit-btn {
    width:80%; 
    cursor: pointer;
    margin:10%; 
    padding:10px; 
    border-radius:5px; 
    color:#FF9500;
    background:#F5F5F5;
    font-weight:bold; 
    font-size:large; 

   
}
button.submit-btn:hover {
    color:#FF9500;
    background:#2F4CDD;
    transition: 0.15s ease-in-out;
    border:2px solid #FF9500;
}
.create-input {
    display:flex;
    flex-direction:column; 
    margin:20px 0; 

    input{
        padding:10px; 
        border:1px solid #2F4CDD; 
        border-radius:15px;
    }
    
}
