/*


HEADER STYLING


*/

.header {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    border-bottom:2px solid #2F4CDD;
    background: #F5F5F5;
    margin-bottom:0; 
    h1 {
        font-family:'Arial Narrow', Arial, Helvetica, sans-serif;
        font-size:48px; 
        font-weight:bold; 
    }
}
.header-options {
    width:30%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    button {
        margin:0 10px;
    }
}
/*


HOME PAGE STYLING


*/
.container {
    position: absolute;
    min-width:100%;
    min-height:100%; 
    padding:0 !important;
    margin:0 !important; 
    background: gray;
}
.body-container {
    margin:5% 10%;
    border:2px solid #FF9500; 
    background:#F5F5F5;
    border-radius:15px;
    padding:2.5% 5%; 
}
.user-options {
    display:flex;
    flex-direction:row; 
    justify-content: space-between;
    width:50%; 
    margin:0 0 2.5%; 
    a {
        color:#2F4CDD; 
        font-family:Verdana,Arial, Helvetica, sans-serif; 
    }
}
/*



GOAL BOX STYLING



*/
.goal-display {
    min-width:100%; 
}
.goal-box {
    min-width:100%; 
    display:flex;
    flex-direction:row; 
    justify-content: space-around;
    align-items: center;
    width:80%;
    margin:2.5% 0 0; 
    padding:1.5% 0; 
    border-top:1px solid #2F4CDD; 
}
.goal-metrics {
    width:30%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.goal-info {
    width:40%; 
}
.percent {
    position:absolute;
    margin-top:-40px; 
    font-size:large;
    font-weight: bold;
}
@keyframes progress {
    0% { --percentage: 0; }
    100% { --percentage: var(--value); }
}
  
@property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}
  
[role="progressbar"] {
    --percentage: var(--value);
    --primary: #2F4CDD;
    --secondary: #adf;
    --size: 100px;
    animation: progress 2s 0.5s forwards;
    width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
}
  
[role="progressbar"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
    mask: radial-gradient(white 55%, transparent 0);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(#0000 55%, #000 0);
    -webkit-mask-mode: alpha;
}
  .delete-btn{
   position:relative;
   margin-top:-20px;  
  }

/*


DAILY LOG RECENT BOX STYLING


*/
.log-cont {
    display:flex;
    flex-direction:row;
    margin:20px 0; 
}
.log-display {
    box-shadow:0 0 5px rgb(85, 85, 85);
    border-radius:15px; 
    width:30%;
    margin:0 1.5%;  
    padding:1.5% 2.5%; 
}
.log-info {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.goal-progress {
    color:rgb(86, 170, 86);
    font-weight:bold; 
}
.quality-score {
    position:relative;
    height:32px;
    width:32px; 
    font-size:32px; 

}

/*



GOAL CREATE FORM STLING



*/
.create-form {
    width:500px;
    margin:2.5% auto; 
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    border:2px solid #FF9500; 
    background:#F5F5F5;
    padding:2.5% 5% 0; 
    border-radius:5px; 
    h3 {
        text-align: center;
        font-family:Verdana,Arial, Helvetica, sans-serif; 
    }

}
button.submit-btn {
    width:80%; 
    cursor: pointer;
    margin:10%; 
    padding:10px; 
    border-radius:5px; 
    color:#FF9500;
    background:#F5F5F5;
    font-weight:bold; 
    font-size:large; 
}
button.submit-btn:hover {
    color:#FF9500;
    background:#2F4CDD;
    transition: 0.15s ease-in-out;
    border:2px solid #FF9500;
}
.create-input {
    display:flex;
    flex-direction:column; 
    margin:20px 0; 

    input{
        padding:10px; 
        border:1px solid #2F4CDD; 
        border-radius:15px;
    }
    
}
/*



DAILY LOG FORM STLYLING



*/
.create-input-radio {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-content:center;
    width:90%; 
    margin:20px 0; 
}
.quality-radio {
    display: none;
}

.quality-label {
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 50%;
}

.quality-radio:checked + .quality-label {
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
/* 



DAILY LOG DETAIL VIEW STYLING



*/
.daily-log-display {
    box-shadow:0 0 5px rgb(85, 85, 85);
    background:#F5F5F5; 
    border:2px solid #FF9500; 
    border-radius:15px; 
    width:50%;
    margin:2.5% auto;  
    padding:1.5% 2.5%; 
}
/*



DAILY LOG INDEX PAGE STLYLING



*/
.full-log-cont {
    width:50%;
    border:2px solid #FF9500; 
    border-radius:15px;
    background:#F5F5F5; 
    padding:0 2.5%; 
    margin:50px auto; 
}
p.log-cont-title {
    margin:25px 0; 
    font-size:large; 
 
    font-family:Verdana,Arial, Helvetica, sans-serif; 
    font-size:36px; 
}
.full-log-box {
    border-bottom:1px solid #2F4CDD; 
    margin:2.5% auto; 
    display:flex;
    flex-direction:row; 

}
.full-log-info {
    display:flex;
    flex-direction:column; 
    justify-content: space-evenly;
    width:65%;
}
.full-log-cont .quality-score {
    margin:30px auto; 
}
form button.submit-btn {
    width:40%; 
    cursor: pointer;
    margin:0; 
    padding:10px; 
    border-radius:5px; 
    color:#FF9500;
    background:#F5F5F5;
    font-weight:bold; 
    font-size:large; 
}
.full-log-options {
   padding:40px 0 0 40px; 
}
/*



LOGIN and REGISTER FORM STYLING



*/
.auth-form{
    width:400px; 
    height:fit-content;
    padding:1.5% 2.5% 15px; 
    margin:50px auto; 
    background:#F5F5F5; 
    border:2px solid #FF9500; 
    box-shadow:0 0 5px rgb(84, 84, 84); 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    border-radius:15px; 
   

}
h1.home-link {
    font-family:'Arial Narrow', Arial, Helvetica, sans-serif;
    font-size:32px; 
    font-weight:bold; 
    text-align: center;
    color:#2F4CDD;  
    text-decoration-color: #2F4CDD;
    letter-spacing: 1px;
    
}

.auth-input {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
}

.auth-input input {
    padding:10px 0;
    align-self: center;
    margin: 10px auto;
    width: 90%;
    font-size: 18px;
    border-radius:15px; 
    border: 1px solid gray;
}

.auth-input input:focus {
    outline: 1px solid #2F4CDD;
    border: 1px solid #2F4CDD;
    padding: 10px 0;
}
.for-pass {
    display:flex;
    flex-direction:row; 
    justify-content: space-around;
    margin:10px 0;

}
.for-pass a {
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #2F4CDD;
    color: black;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.for-pass a:hover {
    box-shadow: inset 225px 0 0 0 #2F4CDD;
    color: white;
    border-radius:15px; 
}
.auth-sub {
    width:100%; 
    text-align: center;
    margin:20px 0;  
}
.auth-sub .submit-btn {
    color:black !important; 
    border:2px solid #FF9500 !important; 
    :hover {
        color:white !important; 
    }
}
/*



MEDIA QUERIES



*/
@media only screen and (max-width:405px) {  
    .header {
        padding-bottom:10px;
    }
    .header  h1 {
        margin-top:25px; 
        font-family:'Arial Narrow', Arial, Helvetica, sans-serif;
        font-size:32px; 
        font-weight:bold; 
    }
    
    .header-options {
        width:40%; 
        flex-direction:column;
        justify-content: center;
        align-items: center;
        button {
            margin:5px 0;
        }
    }
    .for-pass a{
        font-size:14px; 
    }
    .auth-form{
        width:300px; 
    }
    .auth-sub .submit-btn {
        font-size:16px; 
    }
    .user-options {
        width:100%;
        font-size:14px; 
        margin:auto;
        text-align: center;
    }
    .goal-box {
        flex-direction: column-reverse;
        width:80%;
        margin:5px auto; 
    }
    .goal-metrics, .goal-info {
        width:80%; 
    }
    .log-cont {
        flex-direction: column;
        width:100%; 
    }
    .log-display {
        width:100%; 
        margin:10px auto; 
    }
    .body-container {
        width:95%; 
        margin:2.5%; 
    }
    
}